body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContent {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (min-width: 500px) {
  .mainContent {
    padding: 0 5rem;
  }
}
